@page
@model WebApplication1.Pages.addCookiesModel
@{
}

<h3>Add Cookies</h3>
<div class="container">
<form method="post">
    <label for="cname">Cookies Name</label><br>
    <input type="text" id="cname" name="cookiename"><br>

    <label for="cdescription">Cookies Description</label><br>
    <input type="text" id="cdescription" name="cookiedescription"><br>

    <input type="submit" value="Submit" />
</form>
</div>
